#row-solo {
  background-image:url("https://media.giphy.com/media/kKfMgvj4N9itG/giphy.gif");
  justify-content: center;
  max-height: fit-content;
  padding-top:1rem;
  padding-bottom:1rem;
}
#card-container{
  background-color:rgb(94, 91, 91);
  
  justify-items: center;
  color: white;
}




