#row-solo {
  background-color:orange;
  justify-content: center;
  max-height: fit-content;
  padding-top:1rem;
  padding-bottom:1rem;
}
#card-container{
  background-color:rgb(94, 91, 91);
  
  justify-items: center;
  color: white;
}
.btn{
  color: white;
}




